 <header>
      <h1>SAMPLE APP</h1>


    <div>
      <ul>
        <% if @current_user %>
        <li><%= link_to(@current_user.name,"/users/#{@current_user.id}") %></li>
        <li><%= link_to("USERS","/users") %></li>
        <li><%= link_to("NEW POST","/posts/new") %></li>
        <li><%= link_to("POSTS","/") %></li>
        <li><%= link_to("LOG OUT","/logout",method:"post") %></li>
        <% else %>
        <li><%= link_to("SIGN UP","/signup") %></li>
        <li><%= link_to("LOG IN","/login") %></li>
        <% end %>
      </ul>
    </div>
</header>