 <header>
    <h1>SAMPLE APP</h1>


    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">MENU</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <% if @current_user %>
        <%= link_to(@current_user.name,"/users/#{@current_user.id}",class: "dropdown-item") %></li>
        <%= link_to("USERS","/users",class: "dropdown-item") %></li>
        <%= link_to("NEW POST","/posts/new",class: "dropdown-item") %></li>
        <%= link_to("POSTS","/",class: "dropdown-item") %></li>
        <%= link_to("LOG OUT","/logout",method:"post",class: "dropdown-item") %></li>
        <% else %>
        <%= link_to("SIGN UP","/signup",class: "dropdown-item") %></li>
        <%= link_to("LOG IN","/login",class: "dropdown-item") %></li>
        <% end %>
        </div>
    </div>
</header>