<!DOCTYPE html>
<html>
  <%= render("layouts/head") %>

  <body>
  <%= render("layouts/header") %>

  <%= render("layouts/frash") %>

  <div id="yield">
    <%= yield %>
  </div>


  <%= render("layouts/footer") %>
</body>
</html>
